<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta>
    <title>Interviewer!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <header class="d-flex justify-content-between p-2">
        <h1 class="ml-5">Interviewer</h1>
        <nav class="d-flex justify-content-end">
            {{#if loggedIn}}
            <a class="mt-1" href="/dashboard">Dashboard</a>
            {{else}}
            <a class="mt-1" href="/login">Dashboard</a>
            {{/if}}
            
            <a class="mt-1" href="/">Home</a>
            {{#if loggedIn}}
            <button id="logout" class="mt-1">logout</button>
            {{else}}
            <a class="mt-1" href="login">Log in</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>


    {{#if loggedIn}}
    <script src="../javascript/logout.js"></script>
    {{/if}}
</body>

</html>