{{#if companyId}}
<div class="d-flex" style="margin: 20px;">
    <div class="display-jobs split left" style="margin: 20px; size: 40%;">
        <div class="card" style="margin: 10px;">
        <h2 class="card-header" >Your Jobs:</h2>

        <!-- Trigger/Open The Modal -->
        <button id="myBtn" class="btn btn-primary">Create a job</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form class="post-form">
                    <input type="hidden" id="UserID" name="userID" value="{{companyId}}">

                    <div>
                        <label for="job-title">Job Title</label>
                        <input type="text" id="job-title"/>
                    </div>
                    <div>
                        <label for="job-description">job-description</label>
                        <input type="text" id="job-description"/>
                    </div>
                    <div>
                        <p>Skills(placeholder)</p>
                        <textarea></textarea>
                    </div>
                    <button id="post-job" type="submit" class="btn btn-primary">Submit Job</button>
                </form>
            </div>

        </div>

        <script>// Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>




        </div>
        {{#each jobs as |job|}}
        <div class="card" style="margin: 10px;">
            <div class="card-header">
                <h3>{{job.title}}</h3>
                
            </div>
            <div class="card-body">
                <p>
                    {{job.description}}
                </p>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="confirmed-interviews split right">
{{!-- partial marco is making --}}
    </div>
</div>

<script src="./javascript/post-job.js"></script>
{{/if}}

{{#if seeker}}
    <div class="d-flex">
        <form>
            <input type="hidden" id="UserID" name="userID" value="{{seeker}}">

            <div>
            <p>skill partail placeholder</p>
            <button  id="skills" type="click">Submit Skill</button>
            </div>
            
            <div>
                <label for="descriptionUpdate">Description:</label>
                <input type="text" id="descriptionUpdate" />
            <button id = "description" type="click">Update description</button>
            </div>

            <div>
            <label for="img">Select image:</label>
            <input type="file" id="img-input" name="img" accept="image/*">
            <button id="image"type="click">Change Profile Image</button>
            </div>
        </form>
    </div>
    <script src="./javascript/user-update-form.js"></script>
{{/if}}