<h2>If you're a company, you come here to create jobs and edit your account</h2>

<h2>If you're a user you come here to adjust your resume and edit your account</h2>

<h2>For either of them, there's going to be a tab that shows the interviews confirmed so far</h2>

<h2>Candidates you're interested in:</h2>

