<div class="card">
    <div class="card-header">
        <h2 >Current title</h2>
        <h3 class="text-muted">{{job.title}}</h3>
        <h2>Current description</h2>
        <h3 class="text-muted">{{job.description}}</h3>
        <input type="hidden" id="jobID" name="jobID" value="{{job.id}}">
    </div>
    <div class="card-body">
        


        <div>
            <label for="title">New title:</label>
            <input type="text" id="title" />
        </div>
        <div>
            <label for="description">New description:</label>
            <input type="text" id="description"/>
        </div>

        <button class="btn btn-primary" id="Job-name-edit">Update</button>

        <p>Skills:</p>

         {{> editskill}}
    
    </div> 
</div>

<script src="/javascript/edit-post.js"></script>