<div class="card" style="width: 50%; margin-top: 20px; margin-left: 25%">
    <div class="card-header">
        <h2>{{userName}}</h2>
    </div>
    <div class="card-body">
        <h3>{{userDescription}}</h3>
        {{#if skills}}
        <p>
            {{skills}}
        </p>

        {{/if}}

        {{#if company}}
        <button type="button" class="btn btn-primary interested"><a href="/interest-page">I'm interested</a></button>
        {{else}}
        <button type="button" class="btn btn-primary interested" disabled >I'm interested (must be loggin in as company)</button>
        {{/if}}
    </div>

</div>