<div class="hero d-flex justify-content-center">
<form id="login-form" class="login-form shadow w-form p-3 mt-5 rounded">
    <div class="form-group">
        <label for="email-login" class="fa">&#xf0e0; email:</label><br>
        <input type="text" class="w-100" id="email-login" />
    </div>
    <div class="form-group">
        <label for="password-login" class="fa">&#xf20b; password:</label><br>
        <input type="password" class="w-100" id="password-login" />
    </div>
     <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
        <button id="signup-instead" class="btn btn-secondary" type="submit">sign up instead</button>
    </div>
</form>

<form id="signup-form" class="signup-form shadow w-form p-3 mt-5 rounded flex justify-content-center">
    <div class="form-group">
        <label for="username-signup" class="fa">&#xf007; username:</label><br>
        <input type="text" class="w-100" id="username-signup" />
    </div>
    <div class="form-group">
        <label for="email-signup" class="fa">&#xf0e0; email:</label><br>
        <input type="text" class="w-100" id="email-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup" class="fa">&#xf20b; password:</label><br>
        <input type="password" class="w-100" id="password-signup" />
    </div>
    <div class="form-group">
        <label for="company" class="fa">Company or User?</label><br>
        <select id="company" name="company">
            <option value="seeker">User</option>
            <option value="company">Company</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
          <button id="login-instead" class="btn btn-secondary" type="submit">login instead</button>
    </div>
</form>

<script src="/javascript/login.js"></script>

</div>