



header{
    background-color: rgb(29, 198, 228);
    border-bottom: solid 4px yellow;
    color: white;
}

header h1{
    border-bottom: solid 1px yellow;
}

nav a, nav button{
    margin: 10px;
    color: inherit;
}

nav a:hover, nav button:hover {   
    border-bottom: solid 2px yellow;
    color: inherit;
}

nav button {
    height: 2px;
    padding-bottom: 40px;
    background: none!important;
    color: white;
    border: none;
    cursor: pointer;
}

.card-header {
    background-color: rgb(29, 198, 228);
    color: white;
}

button a:hover{
    color: inherit;
}

button a{
    color: inherit;
}